.download__button {
    padding: 0 29px;
    width: 181px;
    height: 49px;
    background: rgba(19, 241, 252, 0.2);
    border: 2px solid rgba(19, 241, 252, 0.2);
    border-radius: 24.5px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}