.search__button {
    width: 88px;
    height: 54px;
    background: #13F1FC;
    border-radius: 50px;
    border: none;
    padding: 0;
    margin: 4px;
    transition: background 0.5s ease;
}

.search__button:hover {
    background: #4F79A4;
}