.header__link {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.header__link:hover {
    opacity: 0.5;
}
