.logo {
    height: 34px;
    width: 100px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-decoration: none;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.logo:hover {
    opacity: 0.5;
}