.road {
    min-height: 1920px;
    background-image: url(../../images/road/road__background.svg);
    background-repeat: no-repeat;
    background-size: 1199px 1756.5px;
    background-position: top 183.21px left 0;
}