.search__input {
    height: 28px;
    width: 310px;
    border: none;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #4F79A4;
    outline: none;
}

.search__input::placeholder {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #BDD3DF;
}
