.download__text {
    width: 374px;
    height: 244px;
    padding-top: 217px;
    transform: translate(-107px, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}